<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Management Service</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h1>Welcome to Task Management Service</h1>
    <nav class="nav">
        <a class="nav-link" th:href="@{/users}">Users</a>
        <a class="nav-link" th:href="@{/tasks}">Tasks</a>
        <a class="nav-link" th:href="@{/projects}">Projects</a>
    </nav>
</div>
</body>
</html>
